.primaryContainer {
  text-align: center;
  text-decoration: none;
  border: black 1px solid;
  margin-top: 5%;
}

li {
  list-style: none;
  font-size: 18px;
  margin-right: 12%;
}

.cardsContainer{
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Creates three columns of equal width */
  gap: 20px; /* Adds space between columns */
}

img {
  height: 70%;
}

.formContainer {
  text-align: center;
  margin-top: 5%;
  margin-bottom: 2%;
}

label {
  margin-right: 2px;
  margin-left: 10px;
  font-size: 22px;
}

.mainHeading {
  text-align: center;
  font-size: 40px;
}
